/* barlow-semi-condensed-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('./assets/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-500.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* barlow-semi-condensed-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('./assets/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-600.woff2') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: clamp(375px, 100%, 1440px);
    margin-inline: auto;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed';
}

/* fonts */
h3{
    font-weight: 600;
    font-size: 19.5px;
}

h5{
    font-weight: 500;
    font-size: 13px;
}

h6{
    font-weight: 500;
    font-size: 11px;
}

p{
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
}

.main-01 { grid-area: a; }
.main-02 { grid-area: b; }
.main-03 { grid-area: c; }
.main-04 { grid-area: d; }
.main-05 { grid-area: e; }

/* mobile */
main{
    display: flex;
    flex-direction: column;
    max-width: 1158px; /* 1110 + 24 + 24 */
    margin-inline: auto;
    padding: 6rem 1.5rem;
    gap: 24px;
}

/* tablet */
@media (width >= 768px){
    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        'a a b'
        'c d d'
        'e e e';
    }
}

/* desktop */
@media (width >= 1110px){
    main{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        'a a b e'
        'c d d e';
    }
}

/* main card */
main > div{
    display: flex;
    flex-direction: column;
    
    padding: 24px;
    gap: 24px;

    border-radius: 12px;
}

.main-01{ background-color: hsl(263, 55%, 52%); }
.main-02{ background-color: hsl(217, 19%, 35%); }
.main-03{ background-color: hsl(0, 0%, 100%); }
.main-04{ background-color: hsl(219, 29%, 14%); }
.main-05{ background-color: hsl(0, 0%, 100%); }


.main-03 h3, .main-03 h5, .main-05 h3, .main-05 h5 { 
    color: hsl(219, 29%, 14%);
}
.main-03 h6, .main-05 h6{ 
    color: hsla(219, 29%, 14%, 0.5);
}
.main-03 p, .main-05 p{ 
    color: hsla(219, 29%, 14%, 0.7);
}

.main-01 h3, .main-01 h5, .main-02 h3, .main-02 h5, .main-04 h3, .main-04 h5{ 
    color: hsl(0, 0%, 100%);
    z-index: 2;
}
.main-01 h6, .main-02 h6, .main-04 h6{ 
    color: hsla(0, 0%, 100%, 0.5);
}
.main-01 p, .main-02 p, .main-04 p{ 
    color: hsla(0, 0%, 100%, 0.7);
}

/* main-one quotation */
.main-01{
    position: relative;
}

.bg-pattern-quotation{
    position: absolute;
    top: 0;
    right: 10%;
    z-index: 1;
}

/* avatar info */
.avatar-info{
    display: flex;
    align-items: center;
    gap: 16px;
}

.avatar-info > img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid hsl(0, 0%, 100%);
}

.main-04 > .avatar-info > img{
    border: 2px solid hsl(263, 55%, 52%);
}

.avatar-info > div{
    display: flex;
    flex-direction: column;
    gap: 4px;
}